body 
{
    
    margin: 0;
    padding-top: 200px;
    text-align: center;
   
    .profile {
        border-radius: 70%;
    }
   
#name {
    font-size: 50px;
    
}

#sobretexto {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
  
      
    }
  
          
}
        
